@using CaseManagerLibrary.Models.IModels
@using CaseManagerLibrary.Data.UOW
@inject IUnitOfWork UnitOfWork

<EditForm Model="comment" OnValidSubmit="HandleValidSubmitForComment">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Komentarz</label>
        <InputTextArea @bind-Value="comment.CommentText" class="form-control"></InputTextArea>
    </div>
    <button class="btn btn-primary" type="submit">Add Comment</button>
</EditForm>

@code {

    [Parameter]
    public int IssueId { get; set; }

    private IComment comment = new DisplayCommentModel();

    private void HandleValidSubmitForComment()
    {
        comment.IssueId = IssueId;
        UnitOfWork.CommentRepository.AddNewComment(comment);
        comment = new DisplayCommentModel();
    }
}

