<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Wyloguj się</button>
        </form>
        <a class="nav-link btn btn-link" href="Identity/Account/Register">Zarejestruj nowego użytkownika</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Zaloguj się</a>
    </NotAuthorized>
</AuthorizeView>